<div class="bg-container">
<!--  <div class="input-group mb-3 input-group-lg search-bar">-->
<!--    <div class="input-group-text">-->
<!--      <i class="bi bi-search"></i>-->
<!--    </div>-->
<!--    <input type="text" class="form-control" placeholder="Type city name" aria-label="cityName" aria-describedby="addon-wrapping">-->
<!--  </div>-->
  <div class="weather-card-container">
    <div class="card-left-side">
      <p>Waetherapp</p>
      <h1>Weather & Forecast Application</h1>

      <p>Use weather application and get weather information daily and weekly for every country in the world</p>
      <button>Get started</button>
    </div>

    <div class="card-right-side">

    </div>
  </div>
</div>
